<footer class="bg-dark-gray bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex flex-column items-center tc">
    <div class="f6 fw4 white-70 pv2">
      &copy; {{ now.Format "2006" }} TimesharePromo.com &mdash; A <a href="https://bowmanwebservices.com" class="white-70 hover-white no-underline fw6">Bowman Web Services LLC</a> Resource
    </div>
    <div class="f7 white-50 pv1">
      <a href="/pages/about/" class="white-50 hover-white no-underline mh2">About</a>
      <span class="white-30">|</span>
      <a href="/pages/privacy-policy/" class="white-50 hover-white no-underline mh2">Privacy Policy</a>
      <span class="white-30">|</span>
      <a href="/pages/cookie-policy/" class="white-50 hover-white no-underline mh2">Cookie Policy</a>
    </div>
    <div class="f7 white-40 pv1">
      Part of the BWS Travel Network:
      <a href="https://sandospromo.com" class="white-40 hover-white no-underline">SandosPromo</a> &bull;
      <a href="https://vacationclubpromo.com" class="white-40 hover-white no-underline">VacationClubPromo</a> &bull;
      <a href="https://vacationclubnexus.com" class="white-40 hover-white no-underline">VacationClubNexus</a> &bull;
      <a href="https://allinclusivevacationandtravel.com" class="white-40 hover-white no-underline">AIVT</a>
    </div>
  </div>
</footer>
